
<div class="content-layer settings-page">
    <section class="hero-section">
        <div class="hero-inner fade-up">
            <div class="hero-badge">Account</div>

            <h1 class="hero-title">
                Your <em>account</em> settings
            </h1>

            <p class="hero-subtitle">
                View your account details and manage your login information.
            </p>

            <div class="register-form d-flex flex-column gap-4 mt-4">

                <div>
                    <label class="form-label">Username</label>
                    <input
                        type="text"
                        class="form-control form-control-lg"
                        value="{{user.username}}"
                        readonly
                    >
                </div>

                <div>
                    <label class="form-label">Email</label>
                    <input
                        type="email"
                        class="form-control form-control-lg"
                        value="{{user.email}}"
                        readonly
                    >
                </div>

                <div class=""d-flex justify-content-center mt-2">
                    <a href="#" class="btn-primary-custom">
                        Reset Email
                    </a>
                </div>

                <div>
                    <label class="form-label">Password</label>
                    <input
                        type="password"
                        class="form-control form-control-lg"
                        value="passwordhidden"
                        readonly
                    >
                </div>

                <div class="d-flex justify-content-center mt-2">
                    <a href="#" class="btn-primary-custom">
                        Reset Password
                    </a>
                </div>

            </div>
        </div>
    </section>
</div>